extensions:
  - PhpSpec\Extension\CodeCoverageExtension

code_coverage:
  format:
    - clover
  output:
    clover: build/logs/clover.xml
  blacklist:
    - config
    - test
    - spec
    - vendor
  blacklist_files:
    - src/Tefel/TefelServiceProvider.php
